/*=========================================================================================
    File Name: main-menu.scss
    Description: Styles for menu components, main navigation and menu itself.
    ----------------------------------------------------------------------------------------
    Item Name: bitfringe Dashboard
    Version: 2.0
    Author: bitfringe
    Author URL: http://www.bitfringe.com
==========================================================================================*/
